#!/bin/bash
export MLFLOW_TRACKING_URI="https://xxx"
export AWS_ACCESS_KEY_ID="xxx"
export AWS_SECRET_ACCESS_KEY="xxx"
export AWS_ARTIFACT_S3_URI="s3://xxx"
export BACKEND_STORE_URI="postgresql://neondb..."
export MLFLOW_EXPERIMENT_NAME="rescue-predict"