#!/bin/bash
export $(grep -v '^#' .env | xargs)
docker run -e SNOWFLAKE_USER=$SNOWFLAKE_USER \
            -e SNOWFLAKE_PASSWORD=$SNOWFLAKE_PASSWORD \
            -e SNOWFLAKE_ACCOUNT=$SNOWFLAKE_ACCOUNT \
            -e SNOWFLAKE_WAREHOUSE=$SNOWFLAKE_WAREHOUSE \
            -e SNOWFLAKE_SCHEMA=$SNOWFLAKE_SCHEMA \
            -e SNOWFLAKE_DATABASE=$SNOWFLAKE_DATABASE \
            -e AWS_ACCESS_KEY_ID="xxx" \
            -e AWS_SECRET_ACCESS_KEY="xxx" \
            -e MLFLOW_EXPERIMENT_NAME="xxx" \
            -e MLFLOW_EXPERIMENT_ID=1 \
            -e MLFLOW_TRACKING_URI=$MLFLOW_TRACKING_URI \
            -e MLFLOW_LOGGED_MODEL=$MLFLOW_LOGGED_MODEL \
            -v $(pwd):/home \
            ml-rescue-predict-training
